[2019-08-15 17:40] cneud opened #2 "Offline use"
The stylesheet for the report linked as `<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"...>` should be distributed with the sources in order to support the rendering even when the tool is used offline.

[2019-08-16 09:30] mikegerber commented on #2
I'm going to install these dependencies statically in the future, i.e. download once upon install.

[2019-08-16 09:38] kba commented on #2
I tend to resort to package.json + webpack once dependencies become non-trivial.

[2019-10-23 14:52] tboenig opened #4 "Documentation: README completeness, debug ocrd-tool.json"
Please debug your ocrd_tool.json file.
I found  an error:
[code]
You can find the ocrd-tool.json documentation: https://ocr-d.github.io/ocrd_tool

Please check your README file and complet them. Your README is fine but look at your file and compare your's with the ideal README file.
[code]
Thank you very much.

[2019-11-06 13:48] wrznr opened #5 "Add a parameter for selection of text level (PAGE XML)"
Currently, `dinglehopper` extracts text from PAGE XML files on the region level (https://github.com/qurator-spk/dinglehopper/blob/master/qurator/dinglehopper/ocr_files.py#L50). It would be wonderful if you could add a level-of-operation parameter to allow for extraction from line or word level. (Manual OCR correction is often done on a specific level and propagation of text through the different l

[2019-11-06 16:33] mikegerber commented on #5
I will definitely support line level because I'd like to display line images for OCR errors (a feature that would save me a lot of time), so this will come with that feature.

Do you have any "real" examples for word level extraction?

[2019-11-18 15:35] mikegerber commented on #4
Thanks! I've added installation and testing instructions in 1206c9b. As for the missing version number: This is intended as there is no version yet. It will be added as soon as we release an official version.

[2019-11-18 15:35] #4 closed

[2019-11-18 16:32] mikegerber commented on #2
Some loud thinking:

a. Leave as is → Reports work everywhere, but not offline
b. Install CSS+JS to `/usr/local` (or equivalent) → Reports work on the local machine, even offline, but not everywhere else

Probably going down the b road, but have an option to have the reports to be "portable".

[2019-11-18 17:03] cneud commented on #2
You could always minify the CSS+JS and include it inline for maximum portability.

[2019-12-05 14:54] bertsky opened #8 "must html-quote angle brackets etc"
I often get these:
[code]
[code]

Web browsers seem to go along with this, but tools don't.

[2019-12-05 15:46] bertsky opened #9 "Feature request: status line text with segment IDs"
To make navigation in the source annotation easier, show the current `TextRegion` / `TextLine`  / `Word` / `Glyph` ids in the browser's status bar.

[2019-12-06 12:40] mikegerber opened #10 "Display image"
The tool should display an image corresponding to the text line/OCR error selected.

[2019-12-06 12:41] mikegerber commented on #9
Yes, that would be useful. This feature is somewhat connected to #10 as I need to do text extraction differently to retain the segment ids.

[2019-12-06 13:11] bertsky commented on #9
Or you wait for the PAGE-XML DOM to give us references upwards in the hierarchy. See OCR-D/core#313 and discussion there.

[2019-12-06 15:01] #8 closed

[2019-12-06 15:02] mikegerber commented on #8
Latest master should fix it :+1:

[2019-12-06 22:08] bertsky commented on #8
It did – thanks!

[2019-12-09 14:58] mikegerber opened #11 "Do not hardcode equivalences/substitutions"

[2019-12-09 15:03] mikegerber opened #12 "More elegant handling of NFC conversion"

[2019-12-09 15:07] mikegerber opened #13 "Improve printing HTML report"
When printed, the HTML report has the following issues for long texts:

* Page break between "Character differences" header and the differences
* Long texts are cut off after one page in the report

[2019-12-09 15:09] mikegerber commented on #13
Example for actevedef_718448162 in the test data:
[code]

Printing the HTML report:
[mozilla.pdf](https://github.com/qurator-spk/dinglehopper/files/3940295/mozilla.pdf)

[2020-01-10 10:38] VolkerHartmann opened #14 "Extend json report to allow evaluation of a series of pages"
To analyze a series of pages as a whole, it would be helpful to include the number of characters/words in the created json file.
e.g.: noOfCharacters=200
        noOfWords=43

[2020-02-21 13:56] mikegerber commented on #14
Since https://github.com/qurator-spk/dinglehopper/commit/745095e52c17aa9e07ded01a671f3906b04830b2 dinglehopper now includes the number of characters and words in the JSON report.

Example report:
[code]

[2020-02-21 13:56] #14 closed

[2020-02-21 15:17] mikegerber commented on #14
Side note: This allows generating a per-workspace (= per-document) CER by calculating `CER_total = sum(CER_x*n_x)/sum(n_x)`. I would even include such a total CER in a OCR-Dy per-workspace report, but I am not sure how to save this in the workspace cleanly.

@kba: Ideas?

[2020-02-21 15:19] kba commented on #14
[code]
?

[2020-02-21 15:25] mikegerber commented on #14
I was under the impression that files in file groups must relate to pages (not the document)?

[2020-02-21 15:30] kba commented on #14
They should but I see no other option to store persistently. A workspace is just a more user-friendly interface to the METS.

If it was an OCRD-ZIP, we could store such info in the `metadata/` directory.

[2020-02-27 14:03] mikegerber opened #15 "Support disabling metrics + green/red"
When comparing two OCR results it should be possible to disable metrics and the green/red color as they do not make sense.

Option/OCR-D parameter could be `--no-metrics`/`no-metrics`.

- [x] Add option in the CLI
- [x] Add parameter in the OCR-D processor
- [x] What to do about the JSON report?

[2020-06-08 16:24] mikegerber commented on #15
- [ ] Add option in the CLI
- [ ] Add option in the OCR-D processor
- [ ] What to do about the JSON report?

[2020-06-08 16:29] mikegerber commented on #15
The CLI now has `--no-metrics` (5cbeb7b0dd35198faaf2a5d77e71ecf38f594c36). This produces a report without the metrics and with blue as the color for both sides:
![image](https://user-images.githubusercontent.com/34309482/84056004-e686f380-a9b5-11ea-90ec-e943421a2099.png)

[2020-06-09 14:40] mikegerber opened #16 "Display document page metadata"
ALTO files contains meta information like this:

[code]

The report should display it.

[2020-06-09 16:43] mikegerber commented on #15
We now support disabling the metrics in OCR-D processor:

[code]

https://github.com/qurator-spk/dinglehopper/commit/668de758a0ec8f6f9f0c146cd86c7262d32aaa5f

[2020-06-09 17:15] mikegerber commented on #10
I'll probably use the local images to display, not IIIF as this seems more general.

- [ ] Explore JS possibilities to crop images
- [ ] What about TIFF support in the browser? Or mandate converting to PNG/JPEG?

[2020-06-09 18:24] cneud commented on #10
I may be missing sth, but those are actually all reasons for using IIIF ;)

- Cropping images is done server-side via API request, you directly get the snippets returned based on the coordinates **already** present in the OCR files
- Contrary to downloading the image and doing some cutting/preprocessing locally (how?), IIIF does all that for you in the request
- The returned image snippets work ac

[2020-06-09 18:29] cneud opened #17 "Support optional stopword list"
A common use case for OCR evaluation (e.g. for search engine indexing, text- and data mining, asf.) is to omit stopwords from the word evaluation to get an understanding of the correctness of "significant words" only.

It would therefore be useful if dinglehopper would also support the optional use of a stopword list provided via parameter/config file. This is already supported in [ocrevalUAtion](

[2020-06-09 18:33] cneud opened #18 "Provide more statistical output (error frequencies)"
A useful feature for further analysis of errors or for post-correction provided in other OCR evaluation tools are added statistics such as e.g. lists with the frequency of character/word errors per page and the types of errors (insertion/deletion/substitution). See e.g. the output example of [ocrevalUAtion](https://sites.google.com/site/textdigitisation/ocrevaluation/sample).

[2020-06-10 17:43] mikegerber opened #19 "Set code width to 90"
- [x] For `flake8`
- [ ] For vim

[2020-06-12 14:05] mikegerber opened #20 "Things to do when dropping Python 3.5 support"
This issue is to collect stuff pertaining to dropping Python 3.5 support when it's possible:

- [x]  `str()` on Path objects is not necessary anymore on Python 3.6+
  - in `qurator/dinglehopper/tests/test_integ*.py`
- [x] Use type annotations instead of `type=` for `attr` classes

[2020-06-13 11:33] kba commented on #20
Please postpone dropping support for Python 3.5 unless there are functional reasons beyond syntactical niceties in 3.6+. I am stuck on 3.5.9 at work and others in the OCR-D community are as well. I know Python 3.5 receives security fixes only until September 2020 at which point even the holdouts will have to update, but until then please continue supporting 3.5. Thanks!

[2020-06-15 15:50] mikegerber commented on #20
The wording of the issue title was bad, the wording of the issue text is better:

[2020-06-15 15:55] mikegerber commented on #17
Given

with a stop word list:

would only count 1 error (lazy vs lazer).

[2020-06-15 16:06] mikegerber commented on #10
Reasons I am contemplating only working with local files:

- I am almost exclusively working with local files
- The SBB has no IIIF in the METS files (All the IIIF I have in the files is from URLs I manipulated myself)
- IIIF is not even (cleanly) detectable if there were IIIF URLs in there
- So IIIF would require extra configuration (baseURL)
- Working with the local files would "just work", at l

[2020-06-17 11:55] mikegerber commented on #10
CSS experiments:

https://qurator-data.de/~mike.gerber/experiments/image-cropping-using-css/image-cropping-using-css.html

This means:
* Cropping using CSS is easy
* No TIFF

[2020-06-19 12:10] mikegerber opened #21 "Discuss IIIF support"
There has been some unresolved discussion with @cneud regarding IIIF support. This should be cleared up.

[2020-06-25 12:13] mikegerber opened #22 "Update dinglehopper version in ocrd_all"
- [ ] Wait for #10 (Display image)
- [ ] Wait for #9 (Display segment ID)
- [ ] Wait for #24 (Release on PyPI)

[2020-08-13 16:28] mikegerber opened #24 "Release on PyPi"
- [x] Create a GitHub Actions workflow to release on PyPI
- [x] After fixing https://github.com/qurator-spk/setuptools_ocrd/issues/10, remove the workaround `MANIFEST.in` again
- [x] Review contents of sdist
- [x] Update README (to recommend installing from PyPI)

[2020-08-28 12:41] jbarth-ubhd opened #25 "Feature Request: Comparison options"
It would be nice to have an option to ...
 * fold accented and uppercase characters to lowercase (Ä → a) and to ignore punctation.
 * let dinglehopper try to arrange paragraphs so that wrong segmentation order (perhaps not so important for full text search) can be ignored

[2020-09-15 10:05] GrazingScientist opened #26 "Documentation Enhancement"
Please consider explaining some details in your documentation:

* What is WER and CER. If you are not familiar with these terms, you don't grasp it emediately although it is an easy concept.
* Does dinglehopper automatically recognize the import format?
* How are text files and XML files compared? Are the XML files simply stripped down to their text representation? How do you assure that there is

[2020-09-15 11:18] GrazingScientist opened #27 "Add naming parameter for output file"
There should be a way to parameterize the name of the output file.

If I evaluate multiple files, with the `dinglehopper` command, it should be possible to name every output file. Currently, I have to run a script that renames each `report.json` or `report.html`.

[2020-09-17 10:36] JKamlah commented on #5
For our needs we added the option to select the level of extraction (region, line, word) and the index (which is necessary if you work with larex output).
It is a qnd implementation (and still in testing) but maybe you can work with it:
https://github.com/JKamlah/dinglehopper

[2020-09-23 18:28] stweil opened #28 "Normalize text before comparing"
UTF-8 allows different representations for the same character. Dinglehoppers currently does not detect that such different representations are identical characters, but handles them like a recognition error.

This can be fixed by normalizing the text before doing the comparison.

Example: We just had a case where the GT transcription used _zuͦſein_ (u + COMBINING RING ABOVE) while the OCR detected

[2020-09-24 06:19] stweil commented on #28
Dinglehopper already uses normalization (NFC). The delta in the example is caused by different characters which look the same: u + COMBINING LATIN SMALL LETTER O != u + COMBINING RING ABOVE.

So COMBINING LATIN SMALL LETTER O and COMBINING RING ABOVE should be handled as similar when comparing.

[2020-09-24 18:17] mikegerber commented on #28
I do think that COMBINING LATIN SMALL LETTER O and COMBINING RING ABOVE are entirely different characters and not equivalent.

However,

I do think that the normalization behaviour should be configurable by the user. So if you choose to consider these characters to be the same for your use case, then you should be able to configure this. I've done some WIP on this that I need to merge and work fur

[2020-09-24 18:20] mikegerber commented on #27
Agreed! This should be easy to do.

[2020-09-24 18:31] mikegerber commented on #26
I'll address this in the documentation. Answering here shortly:
* Word and character error rates, e.g. 1 in 10 characters are wrong (due to insertion,deletion,substitution) → CER = 1/10 = 0.1
* Yes it detects if a file is ALTO or PAGE and falls back to text
* It's always the extracted text that is compared. You can (and should) have a look at the visual comparison of the text. (If you have any spe

[2020-09-24 18:37] mikegerber commented on #25
These are three things, could you open separate issues for this? I'll definitely consider all of them.

[2020-09-24 18:56] mikegerber commented on #27
It's actually already there, `REPORT_PREFIX` in the README:

[code]

I'll update the help text and README with more info.

[2020-09-24 18:58] #27 closed

[2020-09-25 06:37] GrazingScientist opened #30 "Add --progress parameter"
Please provide a --verbose parameter. I just ran a comparison of a text file with an XML file (both not part of any OCR-D process) and waited forever. Finally, I aborted the process. It would be nice to know what was the issue internally....

In #26 a progress bar was proposed by @mikegerber .

[2020-09-25 15:05] mikegerber commented on #26
- [ ] Test TODO list

[2020-09-25 22:32] cneud commented on #17
Just leaving this here for documentation - this is also sometimes referred to as "significant words" evaluation.

[Measuring Mass Text Digitization Quality and Usefulness](https://www.dlib.org/dlib/july09/munoz/07munoz.html)
[Measuring the OCR Accuracy across The British Library’s Newspaper Archive](https://www.kdl.kcl.ac.uk/fileadmin/documents/pubs/IMPACT_Simon%20Tanner%20OCR%20Accuracy%20BL%20Ap

[2020-09-25 22:36] cneud commented on #17
Exactly. Any words appearing in the GT and also in the stopword list are ignored when computing the "significant words" accuracy rate.

[2020-09-25 22:49] cneud commented on #16
This would be very useful!

Unfortunately it will only work for ALTO though, since for PAGE-XML there is no such provenance but one rather has to fallback on the METS container instead.

Also note that the `<OCRProcessing>` structure has been changed to `<Processing>` and [heavily modified](https://github.com/altoxml/schema/issues/39) as of ALTO version 4.0.

[2020-09-25 22:55] cneud commented on #28
Duplicate of #11?

[2020-09-25 22:58] cneud commented on #21
This is all about #10

[2020-09-25 23:05] cneud commented on #26
This is fairly extensive and clear https://sites.google.com/site/textdigitisation/qualitymeasures

I agree this would be nice to have covered in the README ;)

See also the up-to-date docs https://ocr-d.de/en/user_guide#non-existing-mets

[2020-09-26 00:05] cneud commented on #10
Based on your example, here is how this can also be done serverside just with the pixel information you already have in the OCR and a well-maintained [API](https://iiif.io/api/image/3.0/) with [awesome](https://github.com/IIIF/awesome-iiif) resources.

E.g. the IIIF-URL for your example looks like this:

`{baseurl}/{identifier}/{x,y,w,h}/{size}/{rotation}/default.{jpg|png|tif}`

https://content.st

[2020-09-26 06:13] stweil commented on #28
Yes, the issue can be solved with substitutions which can be configured by the users.

@mikegerber, sure, `uͦ` and `ů` are different characters, maybe like some cyrillic characters which look like latin ones. But which of them is the right one for historic German texts? Do you agree that it does not make sense to train both for OCR models in that context?

[2020-09-29 17:46] mikegerber commented on #10
The problem is: How do I know the IIIF URL?

1. In my example (https://qurator-data.de/~mike.gerber/experiments/image-cropping-using-css/PPN77164308X/mets.xml) there are IIIF URLs in the BEST file group. Not because they were in the original, but because I put them there using [ppn2ocr](https://github.com/mikegerber/my_ocrd_workflow/blob/master/ppn2ocr).
2. How do I know these are IIIF URLs other

[2020-09-30 15:32] mikegerber commented on #28
Exactly.

I aim to support (Unicode terms) canonically equivalence (= using NFC consitencly) and maybe the same idea for MUFI characters. And make all further equivalence considerations user configurable. The latter also means that some of the hardcoded substitutions will be moved to some kind of configuration (#11).

[2020-09-30 15:58] #26 closed

[2020-10-01 10:56] mikegerber commented on #30
Could you provide the data please?

The issue is probably that the run time of the comparison is O(mn) (~ quadratic), but I want to see if there is maybe another problem.

[2020-10-01 11:03] mikegerber commented on #5
Unfortunately I did some unmerged work on the text extraction due to #9 so that I need to reimplement your changes when my changes are merged.

Could you provide some example data where `gtindex` and `ocrindex` matters and explain the issue a bit?

[2020-10-01 11:10] mikegerber commented on #5
@wrznr I'd really like some real world example for this :) I understand the feature request but I'd _really_ like to see an example where the levels are not consistent and which software produced it.

[2020-10-02 15:38] wrznr commented on #5
@mikegerber Due to suboptimal GT transcription instructions I have a bunch of GT files where the corrected OCR text is only available on the word level. I could of course write a simple script which fixes this but if you could provide a general solution it would be great. Another use case: I perform OCR on ABBYY-segmented pages, keeping the ABBYY segmentation (which as a byproduct already has text

[2020-10-02 15:53] mikegerber commented on #16
For PAGE files:

[code]

[2020-10-02 16:04] cneud commented on #16
But note that **only** PAGE files produced by [OCR-D](https://github.com/OCR-D) include this information - I am not aware of any other tool producing PAGE output currently populating this section in this way.

[2020-10-02 16:16] mikegerber commented on #16
Yeah, if it's not there it will not be displayed.

[2020-10-02 16:46] mikegerber commented on #5
@wrznr I understand the use case, and I will implement it. I've done some work on the extraction due to #9 that I need to finish, next step is implementing this.

**But:** it would still be useful to have examples of this kind of inconsistent files to get a better feel of the problem :-) (Especially but not only for the `index` issue @JKamlah is describing.)

The OCR-D processors should update the

[2020-10-02 17:07] cneud commented on #5
@wrznr E.g. ``Aletheia`` (but only the ``Pro`` edition) also has functionality included with which it should be possible to fix this. Anyway I second @mikegerber that it would be really helpful if you can share 1-2 such example files (email also possible if you don't want to/can't link or upload here) so we can have a closer look.

[2020-10-06 12:00] #25 closed

[2020-10-06 12:04] jbarth-ubhd opened #31 "Feature request: fold to unaccented & lowercase"
For search engine performance evaluation it would be nice to be able to compare text based on its base characters (e. g. Ä → a).

An option to ignore punctation would be nice, too.

[2020-10-06 12:05] jbarth-ubhd opened #32 "Feature request: rearrange paragraphs for minimum difference"
It would be nice if dinglehopper could try to arrange paragraphs so that wrong segmentation order (perhaps not so important for full text search) could be ignored.

[2020-10-08 11:43] mikegerber commented on #9
Latest master now has a tooltip to display the segment id:

![image](https://user-images.githubusercontent.com/34309482/95453909-f9adce00-096b-11eb-9303-bd8c57d0a74f.png)

This is currently the region id for PAGE, and the texline id for ALTO as these are the levels we are currently extracting from. (Upcoming feature #5 will give more options.)

Support to display this for the word differences is a

[2020-10-08 13:00] mikegerber commented on #32
I'm leaning towards providing the UWER (unordered word error rate) in dinglehopper to resolve this.

Thoughts:
- I don't think a layout analysis feature - which reordering the paragraphs is - would be appropriate here in an evaluation tool. If there's a simple algorithm that solves most issues, there should a separate tool to do this in the OCR-D community.
- Just trying all permutations of paragr

[2020-10-08 13:01] mikegerber commented on #31
This is basically #11.

[2020-10-15 13:41] mikegerber commented on #15
As of 4951823a29a8701ff5cbb06c4146975494bcfbc4, the metrics are now disabled in the JSON report, too.

[2020-10-15 13:41] #15 closed

[2020-10-15 14:11] mikegerber commented on #30
As of 5ed184c, there is now a `--progress` option in the normal CLI.

[2020-10-15 14:11] #30 closed

[2020-10-16 11:22] JKamlah commented on #5
This is due to the work with [LAREX](https://github.com/OCR4all/LAREX). We did some corrections with LAREX on line level to produce GT files. LAREX kept both the original text and the corrected text in the result file and separated them by index. The original text got the index 1 and the corrected ones index 0, not corrected lines got no index at all. I don't know if that is a LAREX specific proce

[2020-10-16 11:52] mikegerber commented on #5
Thanks for the example and the explanation! Now that part of the feature request makes sense to me and this is indeed according to the PAGE specs:

<blockquote>
Used for sort order in case multiple TextEquivs are defined. The text content with the lowest index should be interpreted
as the main text content.
</blockquote>
https://ocr-d.de/de/gt-guidelines/pagexml/pagecontent_xsd_Complex_Type_pc_Tex

[2020-10-16 11:54] mikegerber opened #33 "Honor TextEquiv index"
https://ocr-d.de/de/gt-guidelines/pagexml/pagecontent_xsd_Complex_Type_pc_TextLineType.html#TextLineType_TextEquiv

@JKamlah wrote:

PAGE specs:

(See https://github.com/qurator-spk/dinglehopper/issues/5#issuecomment-709986931)

[2020-10-16 12:06] mikegerber commented on #33
In this example (thanks to @JKamlah!), OCR-D-GT_0008.xml contains corrections in the TextEquivs with the lowest index:
[larex-indexed-textequiv-jkamlah.zip](https://github.com/qurator-spk/dinglehopper/files/5391386/larex-indexed-textequiv-jkamlah.zip)

[code]

[2020-10-16 12:22] mikegerber commented on #5
The [LAREX example](https://digi.bib.uni-mannheim.de/~jkamlah/dinglehopper-test/larex/) by @JKamlah also shows the line vs text region inconsistency, the `TextRegion`'s text is just empty:

[code]

[2020-10-16 12:41] mikegerber commented on #33
@JKamlah I am going to implement it according to the PAGE specs, i.e. "take the TextEquiv with the lowest `index`". This seems to also be correct for your example. (Your code at https://github.com/JKamlah/dinglehopper selects by a user-specified index). Do you see a problem with that I might be missing?

[2020-10-16 13:30] JKamlah commented on #33
Thank you @mikegerber for the quick response.

No, not at all. It would perfectly fits our needs. The only reason to keep the selection option is comparing the corrected output with original one? But i guess this case is negligible.

[2020-10-16 13:56] mikegerber commented on #33
I'd suggest keeping the ABBYY results and the manually corrected files in separate file groups and compare those, e.g.

[code]

This seems to make it a lot more explicit.

[2020-10-16 14:00] mikegerber opened #34 "Skip when there is no file matching the pageId"
`ocrd-dinglehopper` should issue a warning and skip a page if there is no matching GT or OCR file for a page.

Reported by @mnoelte in Gitter:
https://gitter.im/OCR-D/Lobby?at=5f76f0750dbbcf3dfa50648f

[2020-10-16 14:08] bertsky commented on #34
See [here](https://github.com/OCR-D/ocrd_segment/blob/aadbc7b33ebceee320cd1a8b13c2392a389476a2/ocrd_segment/evaluate.py#L64-L92) for a recipe. You can omit the fallback search via matching `imageFilename` for efficiency.
Then use something like [this](https://github.com/OCR-D/ocrd_segment/blob/aadbc7b33ebceee320cd1a8b13c2392a389476a2/ocrd_segment/evaluate.py#L39-L52) instead of the typical loop ar

[2020-10-16 14:14] mikegerber commented on #34
Side note: `files[0]` in that code might fail now that `find_files()` returns an iterator.

[2020-10-16 14:19] bertsky commented on #34
Hell yes, that broke all our multi-input-fileGrp processors!

Must replace with `find_all_files` ASAP

[2020-10-16 14:26] mikegerber commented on #34
Is that an API function? https://ocr-d.de/core/search.html?q=find_all_files returns nothing

[2020-10-16 15:43] bertsky commented on #34
It is. @kba I guess the apidoc must be regenerated?

@mikegerber `ocrd_models.ocrd_mets.OcrdMets.find_all_files`

[2020-10-16 15:45] kba commented on #34
yep 😊 on it.

[2020-10-16 17:30] JKamlah commented on #33
You are absolutely right, it is much more explicit. I mean this is more like a fundamental question or?  If i have multiple versions (indexes) in my file, i could have the need to compare them or to compare a specific index to another file. But how often will that happen and should dinglehopper offer an option for these few cases?

[2020-10-17 14:17] mikegerber opened #35 "Generate per-workspace CER + WER"
1. It's easy to calculate this from the individual CER/WER and the character/word counts.
2. But how to save a global JSON report in the METS? It would not "manifest a physical page" which OCR-D seems to demand for any file

[2020-10-17 14:17] mikegerber commented on #35
@kba @bertsky @cneud Any thoughts on this?

[2020-10-17 17:26] bertsky commented on #35
Yes, this became possible when we [agreed on](https://github.com/OCR-D/spec/pull/154) an "official" way to have global (document-wide) files in the METS. You just put it in there without a pageId (i.e. without a reference of the file in the structMap) and use a certain convention for the file ID (with `FULLDOWNLOAD` IIRC).

Now that different MIME types are allowed in fileGrps, having an output fi

[2020-10-21 15:50] mikegerber commented on #33
There is - to my knowledge - nothing in the PAGE specs that says the index is anything more than a preference order, it just happens that LAREX seems to produce files where we could select by index. Another tool might just add indexes where something changed. So I'll recommend copying the files to a named file group.

As for getting the correct TextEquivs, I have fixed this today and will merge!

[2020-10-21 15:51] #33 closed

[2020-10-21 16:02] mikegerber commented on #5
As of f14ae468700cb390bfb42151277bd330c74854b2, you can now choose to extract from line level:

[code]

or OCR-D'ed:

[code]

[2020-10-21 16:04] mikegerber commented on #5
There is also a small tool now, to extract text for convenience:

[code]

[2020-10-21 17:30] #34 closed

[2020-10-21 17:41] mikegerber opened #36 "Test using Python 3.9"

[2020-10-21 17:42] mikegerber commented on #36
https://docs.travis-ci.com/user/languages/python/#python-versions does not list 3.9 yet.

[2020-10-22 12:26] mikegerber commented on #5
Reopening, I forgot the word level.

@wrznr Could you send me an example file where this matters? Because 1. I suspect some problems with whitespace in that case and 2. I have to consider using the word segmentation from the file instead of doing it from the full text.

[2020-10-27 11:57] b2m commented on #5
Regarding the empty `TextEquiv ` on region level in LAREX I also opened an issue in the OCR4All project: OCR4all/OCR4all#91.

[2020-10-28 09:54] b2m commented on #36
According to https://travis-ci.community/t/python-3-9-0-build/10091 **3.9-dev** is available since, well longer... and **3.9** since this monday.

[2020-10-28 14:16] mikegerber commented on #19
Reopening, the code should be reviewed first

[2020-10-28 23:26] cneud commented on #32
I must agree, calculation of reliable accuracy rates with wrong segmentation order is beyond the possibilities of `dinglehopper`. The sheer amount of possible segmentation classes/errors is escalating way too quickly!

As always when it comes to the topic of evaluation, the PRImA group have some good publications about this, e.g. [The Significance of Reading Order in Document Recognition and its E

[2020-10-29 12:42] #36 closed

[2020-10-29 12:46] mikegerber opened #40 "Move Travis builds to CircleCI"

[2020-10-29 15:42] mikegerber commented on #5
Awesome, I couldn't make time yet to reproduce it myself, so I am thankful!

[2020-10-30 08:38] b2m opened #41 "Use black code formatter"
_Originally posted by @mikegerber in https://github.com/qurator-spk/dinglehopper/pull/37#issuecomment-718830296_

**Note:** black requires Python >= 3.6!

**Todo:**
 - [x] list black in developer requirements
 - [x] Update setup.cfg und .editorconfig according to https://black.readthedocs.io/en/stable/compatible_configs.html
 - [x] Maybe: Add pre-commit Hook https://black.readthedocs.io/en/stable/

[2020-10-30 15:44] bertsky commented on #35
BTW I believe having a measurement of CER standard deviation or variance is also useful. See [here](https://github.com/ASVLeipzig/cor-asv-ann/blob/0ae6867eba39f73f5832b219f09f71788145d1c2/ocrd_cor_asv_ann/lib/alignment.py#L414-L433) for an implementation.

[2020-10-30 15:53] bertsky commented on #28
I would like to point out here that allowing _arbitrary_ equivalences also makes comparing much more difficult. Ideally, there should be sensible sets of transformations (like OCR-D GT levels) which many researchers/practitioners can agree on. And then, to facilitate commensurability, ideally, the evaluation should produce multiple metrics next to each other in the report (like: always the chosen

[2020-10-30 15:57] cneud commented on #28
Basically this comes down to a number of pre-defined common use cases or scenarios, with the added possibility for users to create their own scenarios. This is also the approach that was followed during the IMPACT project and which I believe would be a sound tradeoff between comparable results and flexibility with regard to differing applications.

[2020-10-30 16:02] mikegerber commented on #28
I agree mostly with what @bertsky and @cneud said. I just want to throw in some doubt on the belief that CERs are somehow comparable when produced by different tools. Do they count whitespace the same way? grapheme clusters? punctuation?

Side note: Is there really a set of transformations defined for OCR-D's GT level 1?

[2020-10-30 16:08] cneud commented on #28
I too strongly doubt they are! Looking at e.g. results and metrics from ICDAR papers, many resort to their own implementation for evaluation, which obviously creates considerable blur around any exact performance comparison.

[2020-10-30 16:16] mikegerber commented on #35
True, I just want to give this (and any mean calculations) more thought, because we deal with rates

[2020-10-30 16:32] mikegerber commented on #35
(Closing the issue was an accident, I often hit the wrong buttons)

[2020-11-03 17:21] bertsky opened #44 "try cutting corners to become faster"
I know the task of aligning concatenated pages is much harder than just aligning text lines from the same segmentation (as in `ocrd-cor-asv-ann-evaluate`). But here it's all the more pressing to get decent performance IMO.

Therefore I would suggest the following:

1. replace the matrix calculation with some C library backend (there are many existing packages for Python that already do this). The

[2020-11-04 16:26] b2m commented on #32
As I have a similar problem and need a solution I will try to integrate the Flexible Character Accuracy as option for Dinglehopper.

[2020-11-09 15:39] mikegerber commented on #41
I'm contemplating to *not* reformat the code base but just require it for new changes. Mainly because GitHub does not allow to ignore a pure reformat commit.

[2020-11-09 16:19] b2m commented on #41
As the most code is written by you this should be a non issue and I would guess the other contributors will aggree =)

[2020-11-10 11:31] mikegerber opened #45 "Review error rate definitions etc."

[2020-11-19 18:12] mikegerber commented on #44
The one thing that made me start this project is that the other evaluation tools were terrible to audit. I will not "cut corners" if that makes the evaluation/evaluation code hard to understand or even incorrect.

[2020-11-19 21:21] bertsky commented on #44
Frankly, I don't comprehend that response. What does choosing an efficient backend or making better algorithmic choices have to do with code quality?

[2020-11-20 15:33] #44 closed

[2021-01-14 18:13] mikegerber opened #51 "Review ALTO text extraction"
* PPN768641977, page 0002
* Is "ist nutzlos geworden. [...]" at the right place?

[2021-01-15 12:25] mikegerber commented on #51
Workspace: [PPN768641977.zip](https://github.com/qurator-spk/dinglehopper/files/5820418/PPN768641977.zip)

![FILE_0002_BEST tif](https://user-images.githubusercontent.com/34309482/104726969-da75c800-5734-11eb-98b8-6d3a09ff1c63.jpg)

![image](https://user-images.githubusercontent.com/34309482/104727026-f2e5e280-5734-11eb-9f06-6c0f6c2e2d8c.png)

[code]

[2021-01-15 12:34] mikegerber commented on #51
In the XML (FILE_0002_FULLTEXT), the line in question comes in Block9, which comes *after* Block8 with the text after the line. So the ALTO block order in the file is incorrect (not the extraction in dinglehopper).

[code]

[2021-01-15 12:44] #51 closed

[2021-01-15 12:46] mikegerber commented on #51
For comparison, the extracted text from the Calamari OCR:

<pre>
Warum ſollten wir nutzlos ſterben? Der Kampf
iſt nutzlos geworden. Selbſt mit einer kleinen Streit-
kraft von Amerikanern im Felde dringen die Entente-
armeen auf allen Kriegsſchauplätzen ſchnell vor.
</pre>

[2021-01-15 15:20] mikegerber opened #52 "2020-12 actevedef_718448162-GT-ORDER-WRONG"

[2021-01-15 15:21] mikegerber commented on #52
This was an old workspace where I had an old bug with dinglehopper. Results are fine now.

[2021-01-15 15:21] #52 closed

[2021-02-10 12:51] mikegerber commented on #40
This is a PITA, Travis nags that travis-ci.org will soon be going down, while also telling me that I can't migrate because I am not in the beta(!) and I can't go beta because of a negative credit balance.

[2021-02-10 17:32] mikegerber commented on #40
This was - repeatedly - so annoying I decided to give up on Travis and move to

- CircleCI for smaller builds like this one
- some other private CI for larger builds

[2021-02-10 17:32] #40 closed

[2021-02-17 12:50] jbarth-ubhd commented on #32
Flew through this paper. Does compare strings of GT with substrings of OCR (in case of erroneously joined columns).

( I assume the "equal-length distance" `editDist(..., substr(..., t2.length ))` is because of runtime considerations, but in theory this is does not need to be same length; I would prefer word boundaries. )

I'll still think such a flexible comparison is essential - before runnning

[2021-02-17 13:21] b2m commented on #32
@jbarth-ubhd

Simplified Explenation: FCA compares a line from GT with all lines from OCR and either finds a satisfying match or splits the GT line into smaller fragments based on the best match found. There are more steps and some implementation details only visible in the Java Implementation.

I am confused by your mentioning of the "equal-length distance"... maybe you confuse it with the splitt

[2021-04-15 17:37] mikegerber opened #53 "UnorderedGroup"
@cneud reported problems with the ENP dataset. Example files:

[example.zip](https://github.com/qurator-spk/dinglehopper/files/6320112/example.zip)

The GT file contains an `UnorderedGroup` which triggers an `NotImplementedError`:

[code]

- [ ] Make this a warning and read `UnorderedGroup`s in XML order
- [ ] Check what other tools do with this
- [ ] Find a proper solution (Hard!)

[2021-04-24 14:20] mikegerber opened #54 "Check licenses of used libraries"
dinglehopper is Apache-licensed. All libraries used as libraries need to have a compatible license, e.g. BSD, MIT, Apache or public domain. GPL-licensed *programs* used seem to be fine. See also #48 for a relevant discussion.

Checklist from `requirements*.txt`:
- [x] click
- [x] jinja2
- [x] lxml
- [x] uniseg
- [x] numpy
- [x] colorama
- [x] MarkupSafe
- [x] ocrd >= 2.20.1
- [x] attrs
- [x] multi

[2021-04-24 14:21] mikegerber commented on #54
click: BSD License (BSD-3-Clause)

[2021-04-24 14:21] mikegerber commented on #54
jinja2: BSD License (BSD-3-Clause)

[2021-04-24 14:22] mikegerber commented on #54
lxml: BSD License (BSD)

[2021-04-24 14:22] mikegerber commented on #54
uniseg: MIT License (MIT)

[2021-04-24 14:25] mikegerber commented on #54
numpy: BSD License (BSD)

[2021-04-24 14:25] mikegerber commented on #54
colorama: BSD License (BSD)

[2021-04-24 14:26] mikegerber commented on #54
MarkupSafe: BSD License (BSD-3-Clause)

[2021-04-24 14:27] mikegerber commented on #54
ocrd: Apache License 2.0

[2021-04-24 14:27] mikegerber commented on #54
attrs: MIT License (MIT)

[2021-04-24 14:28] mikegerber commented on #54
multimethod: Apache Software License

[2021-04-24 14:29] mikegerber commented on #54
tqdm: MIT License, Mozilla Public License 2.0

[2021-04-24 14:29] mikegerber commented on #54
pytest: MIT License (MIT)

[2021-04-24 14:30] mikegerber commented on #54
pytest-flake8: BSD License (BSD License)

(We are also not linking to it.)

[2021-04-24 14:31] mikegerber commented on #54
pytest-cov: BSD License (MIT)

(We are also not linking to it.)

[2021-04-24 14:32] mikegerber commented on #54
pytest-mypy: MIT License (MIT)

(We are also not linking to it)

[2021-04-24 14:32] mikegerber commented on #54
black: MIT License (MIT)

(We are also not linking to it)

[2021-04-24 14:34] mikegerber commented on #54
All libraries used use - to the best of my knowledge - compatible licenses. 👍

[2021-04-25 19:52] M3ssman opened #55 "getLogger Irritation with regular CLI"
#### Issue description

Using recent version (1778b3) of dinglehopper complains because of OCR-D-Logger
[code]

Even though all `report`-files are being generated, the output is somehow irritating.

#### Steps to reproduce the issue

1.  call `dinglehopper 1300565-gt.xml 1300565.xml` (attached)

#### What's the expected result?

- No logging error or no logging at all if no OCR-D is around

#### A

[2021-04-26 07:51] kba commented on #55
I'm open to reintroducing on-the-fly `initLogging()` and dropping the error messages, as they should really be debug messages, maybe discuss in https://github.com/OCR-D/core/issues/621

But is that such a bad thing? Reusing the OCR-D logging framework gives configuration files and globally overrideable log levels. My point is that it would benefit all things OCR-D if we improved the versatility/us

[2021-04-26 11:03] mikegerber commented on #54
@b2m expressed interest in creating a CI job to regularly check for licensing problems (#48), so I am reopening.

My notes:
- `pip-licenses --allow-only="MIT License;BSD License;Apache"` (addtion of Apache is untested) seems to be an interesting approach
- It would be nice to keep this out of the usual test suite due to network activity
- I might do the check in ocrd-galley eventually, because the

[2021-04-26 11:09] mikegerber commented on #55
Yes, this errror message bothered me too, last time I used the non-OCR-D CLI. I'll look into it

[2021-04-26 13:16] b2m opened #56 "Improve performance when calculating sequence alignment"
Dinglehopper is using a custom Python implementation of the [Levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance) to calculate, score and show an alignment of two given texts.

According to my performance analysis done for #47 the `distance` and `editops` functions of this custom implementation is the main bottleneck when comparing explicitly bad or big OCR results.

In #48 I

[2021-04-26 13:45] b2m commented on #54
Free day? Same as yesterday and the day before yesterday... 😉

I have three proposals, let me know which one(s) you'd like to try:

**licensed**

 - https://github.com/github/licensed
 - Provided by GitHub
 - Available as GitHub Action
 - Supports multiple technologies
 - Integrated in GitHub with Pull Requests and Branches
 - Using configuration files

**LicenseFinder**

 - https://github.com/piv

[2021-04-26 15:12] M3ssman commented on #55
@kba Totally agree in the realms of OCR-D. But this time its all about dinglehopper's non-OCR-D-CLI.
To be honest, I wasn't even able to figure out where the log messages are going after all.

[2021-04-28 08:58] mikegerber commented on #56
Just to be thorough:

No support for arbitrary data, I would say. Technically, we align*/measure distance between a. sequences of grapheme clusters (which is not always the same as strings) and b. sequences of words.

* I would consider aligning as equivalent to "editops"

Technically I believe any sequence alignment implementation would do if it a. supports substitutions and b. is optimal in the

[2021-04-28 09:49] mikegerber commented on #56
Another possibility: Efficiently calculate an optimal(!) CER, but the alignment might by calculated by some more efficient algorithm (not optimal, but fast)

[2021-04-28 10:24] mikegerber commented on #54
While having support for JavaScript is certainly interesting, the tools seem to require Bower/Yarn/or npm(?) for that, and switching to that is maybe a bit overkill for the three JS dependencies :) (Might do it anyway because of #2 someday.)

pip-licenses seems to be a simple solution for Python dependencies, so maybe try that first :+1: If it can do the license checking offline from a previously

[2021-04-28 11:58] mikegerber commented on #54
It seems to work offline!

[2021-04-28 12:50] maxbachmann commented on #56
## No editops required
For any texts where the editops are not required the Levenshtein distance can be implemented using linear memory.

## Performance more important than memory usage
For cases where the Levenshtein matrix is actually required it could choose the type based upon `max(len1, len2)`
- <= 255 -> uin8_t
- <= 65535 -> uint16_t
- <= 4294967295 -> uint32_t
- else uint64_t

Most PCs will

[2021-04-28 16:06] mikegerber commented on #54
In other words: From my point of view, this makes it suitable for the normal test suite

[2021-04-30 08:28] b2m commented on #54
Yes (packacking tool), Yes (overkill) and Yes (switching someday) =)

No idea why I had this in my notes... striked it out in my original comment.

Why switching? Just use all in parallel 😆

- - - - - - - - -

Regarding the integration of pip-licenses:

1. The "cleanest" way would be to introduce version pinning (maybe with the help of [pip-tools](https://github.com/jazzband/pip-tools)) and only r

[2021-05-20 07:42] #55 closed

[2021-05-20 07:46] mikegerber commented on #55
We now just call ocrd_utils' `initLogging()` in both the non-OCR-D CLIs `dinglehopper` and `dinglehopper-extract` to get this resolved!

[2021-05-20 07:47] mikegerber commented on #55
To stdout, it seems.

[2021-05-21 14:39] mikegerber opened #59 "Text missing"
For [00451941.gt.xml](https://github.com/qurator-spk/dinglehopper/files/6523243/00451941.gt.xml.txt), `dinglehopper-extract` does not extract the header's text `DE L'ESPRIT DE L'HOMME`.

[2021-05-21 14:42] mikegerber commented on #59
The header is in `TexRegion` `r3`, but the `ReadingOrder` only includes the main text in `r1`, so dinglehopper does only extract the main text. This means: The file is buggy, not dinglehopper.

However, we can do better by warning that any region is not included in the extracted text.

[2021-06-09 10:21] bertsky commented on #45
I suggest to implement [alignment path length as denominator](https://github.com/impactcentre/ocrevalUAtion/issues/21#issuecomment-839052773) instead of the GT length (which can be >1):

https://github.com/qurator-spk/dinglehopper/blob/249787686f554ceee4a14c2610772095320d912a/qurator/dinglehopper/character_error_rate.py#L24-L28

(Ideally, you implement all 3 length options: alignment path, maximum

[2021-08-17 20:10] maxbachmann commented on #56
@mikegerber @b2m In the Levenshtein matrix there are often multiple optimal paths, while editops will just return one. Is there any reason to prefer one path over another? The simplest way would be:

[code]

python-Levenshtein extends this slightly by preferring multiple similar operations in a row:

[code]

I guess the reason for this path is, that python-Levenshtein allows the conversion into op

[2021-08-17 20:20] maxbachmann commented on #56
This is now supported in the next release (implemented just not released yet).
[code]
note that this operates on the hashes of the strings. So this is the same as:
[code]
So when two strings produce the same hash value they will be considered as equivalent

[2021-08-18 08:00] b2m commented on #56
@maxbachmann I have not checked the python-Levenshtein original code, but the `last_operation` seems like a performance tweak.

Using hashing to be able to compare "arbitrary" sequences sounds sensible to me. Yes there will be collisions, and there are detailed StackOverflow questions/answers going into detail on when this happens.

From a Python programmers perspective I would worry about compari

[2021-08-18 09:07] maxbachmann commented on #56
In which cases would this help performance. My guess was that it has something to do with these weird conversions in python-Levenshtein from `editops to opcodes` and `editops to matching_blocks` to make them as similar as possible to the results from difflib (Even though at least matching_blocks is completely broken and will not return the correct results in many cases).

I will probably add anoth

[2021-08-21 10:14] maxbachmann commented on #56
@b2m I released v1.5.0 of rapidfuzz yesterday, which includes the support for other types than string and editops:
[code]

[2021-08-22 07:06] b2m commented on #56
Addition: performance tweak in the sense of determining ranges of inserts or deletes **while** determining the type of edit operation. The alternative would be to have a second pass through all the edit operations.

Thx for the heads up... should go to @mikegerber as he is the maintainer of this library.

I like the simplicity of the interface and the returned data!

[2021-08-30 11:13] mikegerber commented on #56
Awesome, I have been on vacation and I will check this out soon!

[2021-10-23 13:22] mikegerber opened #61 "Test on Python 3.10 fails"
https://app.circleci.com/pipelines/github/qurator-spk/dinglehopper/17/workflows/92b2aab0-1517-4b2f-8099-15f7190426ce/jobs/79

[2021-10-26 11:38] #61 closed, assigned to mikegerber

[2021-12-08 14:29] mikegerber opened #62 "Horrible failure with large documents"
@stweil reported in Gitter:

@cneud also submitted a large document (a newspaper page).

- [ ] Investigate why the new version uses even more memory
- [ ] Consider falling back to more efficient algorithms if necessary
- [ ] Consider a regression test for this

[2021-12-08 14:35] mikegerber commented on #62
I've asked @stweil to submit the text, as I am curious why it's using more memory.

[2021-12-08 15:03] stweil commented on #62
<img width="1280" alt="Bildschirmfoto 2021-12-08 um 16 02 13" src="https://user-images.githubusercontent.com/6734573/145231217-f97c3251-9f35-42ac-bb0a-caa9446bcbe6.png">

[2021-12-08 15:25] stweil commented on #62
I used this command (use links to get texts and result):

dinglehopper [gt.txt](https://ub-backup.bib.uni-mannheim.de/~stweil/tesstrain/ocr/gt.txt) [frak2021_0.905_1587027_9141630.txt](https://ub-backup.bib.uni-mannheim.de/~stweil/tesstrain/ocr/frak2021_0.905_1587027_9141630.txt) [frak2021_0.905_1587027_9141630](https://ub-backup.bib.uni-mannheim.de/~stweil/tesstrain/ocr/frak2021_0.905_1587027_914

[2021-12-08 15:31] stweil commented on #62
Unrelated: in the result the lines from GT and OCR result are side by side at the beginning, but that synchronization gets lost later. Why?

[2021-12-08 17:30] maxbachmann commented on #62
@mikegerber I am not familiar with dinglehopper, but I assume the editops calculation requires pretty much memory. For long texts I currently create a levenshtein matrix of `len(s1) * len(s2) * 32 Bit`. Since the text files both have around 110k characters this alone should use around 45 Gb of memory.

The previous implementation used `np.zeros((m + 1, n + 1), np.int)`, which as far as I know shou

[2021-12-08 17:56] mikegerber commented on #62
I will have a look into this in the next days, I have a hunch that it takes twice at much memory because of a memory leak. Before, I had reused the matrix for two runs (1. the distance aka CER calculation and 2. the character alignment) and now I believe I was careless and just let rapidfuzz calculate it twice because it is much faster. OTOH, rapidfuzz should free the memory when it's done with th

[2021-12-08 17:58] mikegerber opened #63 "Improve visual alignment for longer documents"
@stweil asked in #62:

[2021-12-08 17:58] mikegerber commented on #62
I've opened #63 for this!

[2021-12-08 18:02] mikegerber commented on #63
The honest answer is: that the lines align nicely in shorter documents is just accidental. The text on the left is just the GT text, the text on the right is just the OCR text.

For larger documents or texts with say larger gaps we would need to make an effort to align the lines.

[2021-12-08 18:07] mikegerber commented on #62
Mirrored here:
* [gt.txt](https://github.com/qurator-spk/dinglehopper/files/7677979/gt.txt)
* [frak2021_0.905_1587027_9141630.txt](https://github.com/qurator-spk/dinglehopper/files/7677978/frak2021_0.905_1587027_9141630.txt)
* [frak2021_0.905_1587027_9141630.html.zip](https://github.com/qurator-spk/dinglehopper/files/7677983/frak2021_0.905_1587027_9141630.html.zip)

[2021-12-08 18:23] maxbachmann commented on #62
Yes rapidfuzz should free the matrix (and as far as I am aware it does). Note that the CER calculation does not require much memory, since it only has to store the last matrix row. Only the character alignment requires the whole matrix

I already use this implementation to calculate the edit distance, just not when retrieving the editops (mostly to keep the initial implementation simple).

[2021-12-08 19:57] mikegerber commented on #62
@stweil Do you know why there are duplicates lines in the texts? It could be another bug in dinglehopper's text extraction. Would it be possible to get the PAGE versions of GT and OCR to check? (If necessary, DM me on Gitter and send it privately if that's a concern.)

[2021-12-08 20:04] stweil commented on #62
The duplicate lines are fine. The texts were produced from single line text files which we use for finetuning of existing OCR models. And we create synthetic line images for the GT text lines, sometimes several images for the same text line.

[2021-12-09 11:09] mikegerber commented on #62
While it is a problem that dinglehopper has issues with larger texts (i.e. newspaper pages), it is also best to feed it smaller texts if possible like it seems in this case. Alignment is O(length(GT) x lenght(OCR)).

Is this your use case?
* Compute CER and give a visualization for all text lines (line GT vs line OCR)
* Aggregate the CER over all text lines

If so, there are better ways to do it t

[2021-12-09 11:22] stweil commented on #62
I have one directory with *.gt.txt lines and several directories with OCR results *.txt which where produced with different software / models / process parameters. Each dinglehopper run should compare the GT directory with one of the OCR results directories. And yes, the file prefixes are the same.

[2021-12-09 12:43] mikegerber commented on #62
Yes two problems with two distinct solutions :)

[2021-12-10 14:16] mikegerber opened #64 "Support comparing line GT directories with line OCR directories"
In #62, @stweil's original problem was - as I understand it - to compare a directory with line GT text files with a directory of line OCR text files. For now I've created fake test data to implement this [fake-line-gt.zip](https://github.com/qurator-spk/dinglehopper/files/7693274/fake-line-gt.zip). It looks like this:

[code]

A first implementation should compare the text of pairs files (matching

[2021-12-10 14:55] stweil commented on #64
What about an even simpler interface:

    dinglehopper [OPTIONS] GTDIR OCRDIR [REPORT_PREFIX]

The existing `dinglehopper` could be extended to accept directory names for its `GT` and `OCR` argument and then either strip all extensions when matching ground truth and ocr lines by default or use new optional `--gt-suffix` and `--ocr-suffix` options.

[2021-12-10 15:04] mikegerber commented on #64
For now and until the interface is finalized I'd like to keep the CLI interface separate, it will share the code anyway.

For the stripping of all extensions to work we would need to assume that the common prefix for a pair does not contain a dot, and the explicit suffix options seemed saner.

But I think I'll start implementing this, CLI details can still be refined later.

[2021-12-10 16:19] mikegerber commented on #64
They will default to something useful: the longest common suffix, i.e.
[code]
(gives `.gt.txt`)

[2021-12-11 17:07] maxbachmann commented on #62
@mikegerber I implemented the concept I described above (appears to work, but still needs more testing and some cleanup): https://github.com/maxbachmann/rapidfuzz-cpp/pull/58

- It reduces the memory usage from 32 bit to 3 bit per cell (around 10x improvement)
- It significantly improves the performance for all strings especially for long ones, since it reduces the time complexity from `O(N*M)` to

[2021-12-13 19:04] mikegerber commented on #64
`dinglehopper-line-dirs gt some-ocr` from the https://github.com/qurator-spk/dinglehopper/tree/feat/compare-line-texts branch now compares the line texts from the `gt` and `some-ocr`. It auto-detects the file suffixes. It's WIP - but only WER and word differences are missing.

@stweil Could you test if this works for you?

[2021-12-13 19:07] mikegerber commented on #64
The lines also line up perfectly, because each pair is put into its own `<div class="row">`!

[2021-12-13 20:52] stweil commented on #64
My first test fails:

[code]

[2021-12-13 20:57] stweil commented on #64
The crash happens in `rapidfuzz-1.9.0-py3.9-linux-x86_64.egg/rapidfuzz/cpp_string_metric.cpython-39-x86_64-linux-gnu.so`.

[2021-12-13 21:07] stweil commented on #64
@maxbachmann, I now tried to debug the RapidFuzz code, but `pip install .` fails:

     src/cpp_common.hpp:4:10: fatal error: rapidfuzz/fuzz.hpp: No such file or directory

[2021-12-13 21:19] mikegerber commented on #64
I can't reproduce with Python 3.9 and rapidfuzz-1.9.0-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl. Hmm. Could we have a look at the data (or a portion of it) that triggers this?

[2021-12-13 21:41] maxbachmann commented on #64
@stweil did you clone the repository including submodules?
[code]

As @mikegerber mentioned it would help if you could provide me with some data to reproduce this.

[2021-12-13 21:53] stweil commented on #64
Minimal single line test case (found by bisecting):

[code]

[2021-12-13 22:00] stweil commented on #64
No, I did not. The installation works after `git submodule update --init`. I suggest to add that information to the instructions in the README.

[2021-12-13 22:09] maxbachmann commented on #64
thanks I could reproduce the crash. I will look into it

[2021-12-13 22:30] maxbachmann commented on #64
Ouch had a typo in the edit distance calculation: https://github.com/maxbachmann/rapidfuzz-cpp/commit/103674db0785f6c1c8e247abc850e48c75c22e1c
I am honestly surprised this did never crash on the input of a fuzz testing tool ...

I released a new version of RapidFuzz with the fix: https://github.com/maxbachmann/RapidFuzz/releases/tag/v1.9.1

[2021-12-13 22:52] maxbachmann commented on #62
@mikegerber @stweil I tested your original files with dinglehopper on my laptop which has only 8gb ram:

[code]
So it is down to around 5gb of memory usage and less than 25 seconds of runtime with the new version of rapidfuzz.

[2021-12-14 10:52] mikegerber commented on #64
Great this bug is fixed. I've bumped the rapidfuzz dependency to >=1.9.1!

@stweil Could you try https://github.com/qurator-spk/dinglehopper/tree/feat/compare-line-texts again, after updating?

[2021-12-14 11:22] mikegerber commented on #62
This is great news 😍 I think it was a great decision to use rapidfuzz as the backend library for dinglehopper - all the features I had wished for and with great support and improvements from you!

I'll be on vacation starting Thursday and I'll keep this issue open until I have tested this thoroughly (after the vacation). But for now I've bumped the dependency to rapidfuzz >= 1.9.1.

[2021-12-14 17:38] mikegerber commented on #64
The [feat/compare-line-text](https://github.com/qurator-spk/dinglehopper/tree/feat/compare-line-texts) branch now also computes WER and word differences. So, if it's tested, it's ready.

[2021-12-15 20:55] stweil commented on #64
A new test with the latest code shows that the memory issue is fixed, but with the full test set I get a new error:

[code]

[2021-12-15 21:27] stweil commented on #64
With commits cb2be96179543dba6ac069c92b842c1f56c198ec and 5b394649a7777f95932ab74c1e26743e8e180849 reverted (= no WER), the my full data set is processed in 5 seconds (no crash).

[2021-12-16 08:26] mikegerber commented on #64
Great that half of it is working now! Unfortunately I'm on vacation now, so triaging the WER problem will have to wait until January. Thanks for the test data, this will help greatly!

[2022-01-24 17:51] mikegerber commented on #64
I've found the problem and fixed it in 8a3f5e48c2eac3e6d67f84e87409b8c69a1e150b! The feature is now merged.

[code]
~ 2 seconds and max. 55MB memory! 🍾

[2022-01-24 18:00] #64 closed

[2022-02-24 05:49] whisere opened #65 "dinglehopper keep hanging and test errors"
running dinglehopper gt txt and dinglehopper-line-dirs keep hanging without message, and pytest returns errors:
[code]
also stuck with:
qurator/dinglehopper/tests/test_integ_table_extraction.py .....                              [ 83%]
qurator/dinglehopper/tests/test_integ_word_error_rate_ocr.py ..

python version 3.9.0. Thanks.

[2022-02-24 06:52] whisere commented on #65
Also tried on python 3.10.0, 3.8.9, 3.6.15, they are all the same.

[2022-02-25 14:37] mikegerber commented on #65
I can't reproduce and tested a fresh install on Python 3.9. Could you please provide the full output of your pytest call? This would include more useful information e.g. the platform.

[2022-02-25 14:43] mikegerber commented on #65
rapidfuzz had a new release 19 hours ago that has a bugfix for code relevant code, make sure you have rapidfuzz 2.0.4+!
[code]

[2022-02-25 15:30] mikegerber commented on #65
There is another problem with rapidfuzz which leads to tests getting stuck on `qurator/dinglehopper/tests/test_integ_ocrd_cli.py` (and with the pytest process consuming 100%). This is fixed with downgrading to `pip install rapidfuzz==1.9.1`.

@maxbachmann Any idea how to debug this properly? Reproducer would be using Python 3.9, installing dinglehopper with rapidfuzz 2.0.4 (including both `require

[2022-02-25 15:33] mikegerber commented on #65
Sorry, downgrade! `pip install rapidfuzz==1.9.1`

[2022-02-25 16:13] maxbachmann commented on #65
@mikegerber I can reproduce the issue and will look into it.

[2022-02-25 16:48] maxbachmann commented on #65
I tracked down a small reproducing sample:
[code]

[2022-02-25 17:55] maxbachmann commented on #65
Apparently I replaced uint64_t with int64_t in one to many places, which did lead to signed integer overflows inside the hashmap implementation. This is fixed by https://github.com/maxbachmann/rapidfuzz-cpp/commit/fadfb752d5f90e35e48d20ceabdde44b52c81c9e. This is fixed in v2.0.5.

[2022-02-28 00:01] whisere commented on #65
dinglehopper gt ocr is not hanging after running pip install rapidfuzz==2.0.5 Thanks!

pytest reported:
E   ModuleNotFoundError: No module named 'qurator.dinglehopper.tests'
Hint: make sure your test modules/packages have valid Python names.
===================================== short test summary info ======================================
ERROR qurator/dinglehopper/tests/extracted_text_test.py
E

[2022-02-28 13:35] mikegerber commented on #65
Great! I'm bumping the dependency to >= 2.0.5.

That's a different problem. Did you follow the instructions in `README-DEV.txt`?

[2022-02-28 13:36] mikegerber commented on #65
This update also fixes my tests, great!

[2022-02-28 13:36] #65 closed

[2022-02-28 13:45] mikegerber commented on #20
The rapidfuzz update regarding #65 broke Python 3.5 support (at least it seems so: https://app.circleci.com/pipelines/github/qurator-spk/dinglehopper/32/workflows/1d5a27a7-f716-402c-8ca7-44ac6d329c27/jobs/171) and I am inclined to finally do away with it.  (Even Python 3.6 is officially EOL, but we are going to stick to supporting it for now)

[2022-02-28 14:58] maxbachmann commented on #20
@mikegerber yes rapidfuzz no longer supports Python3.5. In fact, the code base is still Python3.5 compatible. I simply stopped building wheels when https://github.com/pypa/cibuildwheel dropped support and updated the minimum required version. So I could still allow the usage on Python3.5 with no extra maintenance (would require the library to be compiled when installing).

[2022-02-28 17:12] mikegerber commented on #64
@stweil Did you run the latest version on your full data? Did it work?

[2022-03-02 10:13] mikegerber commented on #20
We discussed it at SBB as I only had a nebulous understanding of why we had to still support Python 3.5. We don't have to anymore and I'm happy to drop it 😀

[2022-03-02 10:54] #20 closed

[2022-07-24 19:27] maxbachmann commented on #62
@mikegerber I finally came around to implement editops for long sequences using a combination of [Hirschbergs algorithm](https://en.wikipedia.org/wiki/Hirschberg%27s_algorithm) and the current algorithm. It splits the problems into subproblems until it is relatively small (around 2k characters) and then solves it using the existing algorithm.
This reduces memory usage to `O(N)` and since it jumps

[2022-07-27 10:03] mikegerber commented on #62
Absolutely fantastic! I'll depend on the new version when it gets a release version!

[2022-08-16 14:44] maxbachmann commented on #62
I think now that the memory consumption has been reduced from around 45Gb to less than 100mb and is no longer quadratic to the text length I think this issue has been resolved :wink:

[2022-08-16 17:23] mikegerber opened #68 "No tests are run for PRs?"
#67 caused the code to fail, and the tests weren't run for the PR. Why?

[2022-08-16 17:37] mikegerber opened #69 "Update RapidFuzz again"
For now, we stick to rapidfuzz ~ 2.0.0, because later rapidfuzz seems to produce un-slice-able editops (see #67). I've reverted #67 for now, but, when fixed, the changes needs to be merged again.

[2022-08-16 17:51] maxbachmann commented on #69
Hm, I never added the slicing feature when creating my own Editops class. I can add slicing to the Editops class.
Right now there are two workarounds for your slicing:
convert to list which is essentially what was done in the old API
[code]
modify in place:
[code]

[2022-08-16 17:54] maxbachmann commented on #69
since you use
[code]
I would use
[code]
since it avoids creating a copy of the container

[2022-08-16 19:54] kba commented on #68
Pull requests from branches in other remotes are not tested in Circle CI by default for security reasons (they could extract secrets like passwords and tokens). You have to enable "Build forked pull requests" in the settings.

[2022-08-17 09:32] mikegerber commented on #69
Good idea, I'll change it.

[2022-08-17 16:32] mikegerber commented on #69
c4e85da5aba03e7b0a71f6b4af972a7d8430f56a fixes this, the remaining problem is currently not of relevance for the normal operation of dinglehopper I think.

[2022-08-17 16:32] #69 closed

[2022-08-18 13:56] mikegerber commented on #68
Thanks! I'll need to think about this.

[2022-08-23 12:59] mikegerber opened #70 "Monthly scheduled tests"

[2022-08-25 13:30] stefanCCS opened #71 "DingleHopper does not create results"
Using `ocrd, version 2.38.0`

I have tried out ocrd-dinglehopper like this:
[code]
Somehow, from one of the input files no text is  taken:
![image](https://user-images.githubusercontent.com/61045115/186677718-df59a898-533e-445c-aea2-3d299d1f70eb.png)
[code]

Any  idea?

[2022-08-26 12:07] kba commented on #71
Can you provide the GT and OCR for this file as PAGE-XML? Looks to me like the OCR only recognized `.` for every character?

[2022-08-26 12:30] stefanCCS commented on #71
Well, this was hint enough - many thanks.
My GT-PAGE does not contain any text (I do not know at this moment ...). Therefore, DingleHopper just shows, what is available.
I will close this issue now.

[2022-08-26 12:30] #71 closed